<%- include('../partials/header') %>
    <h2>Demon Slayer: Kimetsu no Yaiba</h2>
      <p><img class = "pic" src ="images/demon.png"/> </p>
      <p>This page is Node.js app, it uses Express and EJS that contains 4 different pages. </p>
      <p>This website shows the 4 characters from Demon Slayer: Tanjiro, Nezuko, Inosuke and Zenitsu and a brief summary of who they are. </p>
     
<%- include('../partials/footer') %>