<%- include('../partials/header') %>
    <h2>Hashibira Inosuke</h2>
      <p><img class = "pic" src ="images/inoske.png"/> </p>
      <p>Inosuke is a member of the Demon Slayer corps who makes use of the Breath of the Beast sword style, a style he pioneered. he is a traveling companion of Tanjiro Kamado. His arch nemesis was Doma, a powerful demon and a memeber of the Twelve Kizuki who held the position of the Upper Two. Duma was the demon responsible for murdering Inosuke's mother when Inosuke was only a baby. </p>
      
      <p>Powers & Abilities: Enhanced sense of touch, Flexibility, Poison Resistance and Breath of the Beast </p>
      
<%- include('../partials/footer') %>