<%- include('../partials/header') %>
    <h2>Nezuko Kamado</h2>
      <p><img class = "pic" src ="images/nezuko.png"/> </p>
      <p>As a human, Nezuko was a kind and caring girl, who thought of others before herself much like her older brother, Tanjiro, and was a responsible older sister to her younger siblings. Nezuko is, however, not afraid to get in harm's way, protecting her friends from Demons even after being returned to a human state.</p>

<p>As a Demon, however, Nezuko seems to have forgotten a good portion of her memories as a human, besides those related to her family, and thus doesn't retain the exact personality she had before transformation. She is still very caring and protective towards humans who she sees as members of her family, although this is mainly due to the influence Sakonji Urokodaki had on her while she was asleep for two years. Nezuko also retains some of her human emotions, as she has been seen to cry when sad and smile when happy, but in general she appears more detached than her human cohorts, although she is still much calmer and less malicious than most Demons.</p>
    
<%- include('../partials/footer') %>