<%- include('../partials/header') %>
    <h2>Tanjiro Kamado</h2>
      <p><img class = "pic" src ="images/tanjiro.png"/> </p>
      <p>Tanjiro Kamado is Nezuko's older brother and the oldest child of the Kamado family. He is a Kanoe ranked Demon Slayer and a member of the Demon Slayer Corps. He became a Demon Slayer in order to turn Nezuko back into a human, and hunt down the demon resposible for the murder of his family and his sister's transformation into one. </p>
      <p>Powers & Abilities: Hard Skull, Enhanced smell,Immense Stamina & Endurance, Constant Total Concentration, Demon Slayer mark, Repeteative action, Water Breathing and Hinokami Kagura</p>
<%- include('../partials/footer') %>