<%- include('../partials/header') %>
    <h2>Zenitsu Agatsuma</h2>
      <p><img class = "pic" src ="images/zenitsu.png"/> </p>
      <p>Zenitsu is a powerful Demon Slayer and a member of the Demon Slayer Corps. Although he was originally roped inot joining the Corps by his mentor Jigoro Kuwajima, Zenitsu later realizes the importance of the Demon Slayer Corps. Zenitsu is in a constant state of fear and always cries and tries to run away at the sight of danger, claiming he wants to live a modest, normal life, instead of that of a Demon Slayer in which he just thinks he's useless all the time.
However, despite these weaknesses, Zenitsu still wants to live up to the expectations others set up for him and will try his hardest when he is needed to. </p>
      
      <p>Powers & Abilities: Superhuman strength, Superhuman hearing, Super speed, Sleep Combat/Mid-sleep Empowerment and Breath of Thunder Style </p>
<%- include('../partials/footer') %>